## Installation and Pre-requisits

In [1]:
# !pip install bar_chart_race

### Installing ffmpeg

In order to save animations as mp4/m4v/mov/etc... files, you must install ffmpeg, which allows for conversion to many different formats of video and audio.

https://www.ffmpeg.org/download.html

## Importing libraries

In [2]:
import pandas as pd
import bar_chart_race as bcr

## Loading and preprocessing data

In [3]:
df_temperature = pd.read_csv('Monthly_Mean_Temp_IMD-2901_to_2019_0.csv')

In [4]:
df_temperature.head()

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,JAN-FEB,MAR-MAY,JUN-SEP,OCT-DEC
0,1901,17.99,19.43,23.49,26.41,28.28,28.60,27.49,26.98,26.26,25.08,21.73,18.95,24.23,18.71,26.06,27.30,21.92
1,1902,19.00,20.39,24.10,26.54,28.68,28.44,27.29,27.05,25.95,24.37,21.33,18.78,24.33,19.70,26.44,27.18,21.49
2,1903,18.32,19.79,22.46,26.03,27.93,28.41,28.04,26.63,26.34,24.57,20.96,18.29,23.80,19.05,25.47,27.17,21.27
3,1904,17.77,19.39,22.95,26.73,27.83,27.85,26.84,26.73,25.84,24.36,21.07,18.84,23.86,18.66,25.84,26.83,21.42
4,1905,17.40,17.79,21.78,24.84,28.32,28.69,27.67,27.47,26.29,26.16,22.07,18.71,23.71,17.58,24.99,27.37,21.48

In [5]:
df_temperature.columns

Index(['YEAR', 'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP',
       'OCT', 'NOV', 'DEC', 'ANNUAL', 'JAN-FEB', 'MAR-MAY', 'JUN-SEP',
       'OCT-DEC'],
      dtype='object')

In [6]:
# Drop unwanted columns

df_temperature = df_temperature.drop(['ANNUAL', 'JAN-FEB', 'MAR-MAY', 'JUN-SEP','OCT-DEC'], axis = 1)
df_temperature

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,1901,17.99,19.43,23.49,26.41,28.28,28.60,27.49,26.98,26.26,25.08,21.73,18.95
1,1902,19.00,20.39,24.10,26.54,28.68,28.44,27.29,27.05,25.95,24.37,21.33,18.78
2,1903,18.32,19.79,22.46,26.03,27.93,28.41,28.04,26.63,26.34,24.57,20.96,18.29
3,1904,17.77,19.39,22.95,26.73,27.83,27.85,26.84,26.73,25.84,24.36,21.07,18.84
4,1905,17.40,17.79,21.78,24.84,28.32,28.69,27.67,27.47,26.29,26.16,22.07,18.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,2015,19.02,21.23,23.52,26.52,28.82,28.15,28.03,27.64,27.04,25.82,22.95,20.21
115,2016,20.92,23.58,26.61,29.56,30.41,29.70,28.18,28.17,27.72,26.81,23.90,21.89
116,2017,20.59,23.08,25.58,29.17,30.47,29.44,28.31,28.12,28.11,27.24,23.92,21.47
117,2018,19.90,22.58,26.01,28.48,29.99,29.58,28.19,27.73,27.63,26.42,23.84,20.41
118,2019,19.62,21.80,24.92,28.82,30.27,30.26,28.65,27.92,27.56,26.22,23.93,20.32

In [7]:
# Set index on year column --> Very imp, without setting index on frequency column, bar chart race will not work
df_temperature = df_temperature.set_index('YEAR')
df_temperature

,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
YEAR,,,,,,,,,,,,
1901,17.99,19.43,23.49,26.41,28.28,28.60,27.49,26.98,26.26,25.08,21.73,18.95
1902,19.00,20.39,24.10,26.54,28.68,28.44,27.29,27.05,25.95,24.37,21.33,18.78
1903,18.32,19.79,22.46,26.03,27.93,28.41,28.04,26.63,26.34,24.57,20.96,18.29
1904,17.77,19.39,22.95,26.73,27.83,27.85,26.84,26.73,25.84,24.36,21.07,18.84
1905,17.40,17.79,21.78,24.84,28.32,28.69,27.67,27.47,26.29,26.16,22.07,18.71
...,...,...,...,...,...,...,...,...,...,...,...,...
2015,19.02,21.23,23.52,26.52,28.82,28.15,28.03,27.64,27.04,25.82,22.95,20.21
2016,20.92,23.58,26.61,29.56,30.41,29.70,28.18,28.17,27.72,26.81,23.90,21.89
2017,20.59,23.08,25.58,29.17,30.47,29.44,28.31,28.12,28.11,27.24,23.92,21.47
2018,19.90,22.58,26.01,28.48,29.99,29.58,28.19,27.73,27.63,26.42,23.84,20.41
2019,19.62,21.80,24.92,28.82,30.27,30.26,28.65,27.92,27.56,26.22,23.93,20.32

In [8]:
df_temperature.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 1901 to 2019
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   JAN     119 non-null    float64
 1   FEB     119 non-null    float64
 2   MAR     119 non-null    float64
 3   APR     119 non-null    float64
 4   MAY     119 non-null    float64
 5   JUN     119 non-null    float64
 6   JUL     119 non-null    float64
 7   AUG     119 non-null    float64
 8   SEP     119 non-null    float64
 9   OCT     119 non-null    float64
 10  NOV     119 non-null    float64
 11  DEC     119 non-null    float64
dtypes: float64(12)
memory usage: 12.1 KB

In [9]:
df_temperature.isnull().any()

JAN    False
FEB    False
MAR    False
APR    False
MAY    False
JUN    False
JUL    False
AUG    False
SEP    False
OCT    False
NOV    False
DEC    False
dtype: bool

## Creating Bar Chart Race

In [10]:
bcr.bar_chart_race(df = df_temperature, title = "India - Monthly Mean Temp IMD")

C:\Users\dhaval_patel\Anaconda3\lib\site-packages\bar_chart_race\_make_chart.py:286: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_yticklabels(self.df_values.columns)
C:\Users\dhaval_patel\Anaconda3\lib\site-packages\bar_chart_race\_make_chart.py:287: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_xticklabels([max_val] * len(ax.get_xticks()))

Exception: You do not have ffmpeg installed on your machine. Download
                            ffmpeg from here: https://www.ffmpeg.org/download.html.

                            Matplotlib's original error message below:

                            Requested MovieWriter (ffmpeg) not available